body{
    background-image: url(loopy-background.jpg);
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center -98px;
}

#clock-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
}

#clock{
    font-family: monospace;
    font-size: 6.5rem;
    font-weight: bold;
    text-align: center;
}