body {
    font-family: Arial, sans-serif;
    background-color: #f0f2f5;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    max-width: 500px;
    margin: 40px auto;
    background: white;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
    width: 100%;

}

label {
    display: block;
    margin-bottom: 6px;
    font-weight: bold;
    font-size: 1.05em;
}

.form-field {
    width: 100%;
    padding: 12px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
    display: block;
    box-sizing: border-box;
}

.title {
    text-align: center;
    margin-bottom: 20px;
}

input, select {
    width: 100%;
    padding: 12px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
    display: block;
    box-sizing: border-box;
}

.form-group {
    margin-bottom: 18px;
}

button {
    padding: 10px;
    cursor: pointer;
    width: 20%;
    font-size: 16px;
    border-radius: 6px;
    color: white;
    background-color: rgb(240, 161, 177);
    margin: 0 auto;
    display: block;
    border: none;
}

button:hover {
    background-color: rgb(192, 143, 152);
}

@media (max-width: 600px) {
    .container {
        padding: 20px;
    }

    input, select, button {
        font-size: 15px;
    }

    .title {
        font-size: 20px;
    }
}