body{
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}

#myButton{
    font-size: 3em;
    padding: 5px 25px;
    border-radius: 5px;
    cursor: pointer;
}

.myLabels{
    font-size: 3em;
}